@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 257 90% 66%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 97%;
    --secondary-foreground: 0 0% 20%;
    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 47%;
    --accent: 336 80% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 87%;
    --input: 0 0% 87%;
    --ring: 257 90% 66%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 14% 15%;
    --foreground: 0 0% 94%;
    --card: 240 14% 15%;
    --card-foreground: 0 0% 94%;
    --popover: 240 14% 15%;
    --popover-foreground: 0 0% 94%;
    --primary: 257 90% 77%;
    --primary-foreground: 0 0% 10%;
    --secondary: 240 14% 19%;
    --secondary-foreground: 0 0% 94%;
    --muted: 240 14% 19%;
    --muted-foreground: 0 0% 69%;
    --accent: 336 86% 77%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 23%;
    --input: 240 10% 23%;
    --ring: 257 90% 77%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
