@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 205 67% 95%;
    --foreground: 210 29% 29%;
    --card: 205 67% 95%;
    --card-foreground: 210 29% 29%;
    --popover: 205 67% 95%;
    --popover-foreground: 210 29% 29%;
    --primary: 145 95% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 29% 90%;
    --secondary-foreground: 210 29% 29%;
    --muted: 210 29% 90%;
    --muted-foreground: 0 0% 49%;
    --accent: 204 69% 62%;
    --accent-foreground: 210 29% 29%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 29% 80%;
    --input: 210 29% 85%;
    --ring: 145 95% 36%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 29% 10%;
    --foreground: 205 67% 95%;
    --card: 210 29% 12%;
    --card-foreground: 205 67% 95%;
    --popover: 210 29% 10%;
    --popover-foreground: 205 67% 95%;
    --primary: 145 95% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 29% 15%;
    --secondary-foreground: 205 67% 95%;
    --muted: 210 29% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 204 69% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 29% 20%;
    --input: 210 29% 20%;
    --ring: 145 95% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
